@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Lato');

.tlc {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  min-height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
  
}

.timeline-container {
  display: flex;
  flex-direction: column;
  margin:40px 0;
  position: relative;
  width:800px;
}

.timeline-container::after {
  background-color: #1DA1F2;
  content: '';
  position:absolute;
  left:calc(50% - 2px);
  width:4px;
  height: 100%;
}

.timeline-item{
  display:flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin:10px 0;
  width:50%;
}

.timeline-item:nth-child(odd) {
  align-self:flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;

}

.rows .row{
  display: inline-block;
}

.timeline-item-content {
  max-width: 70%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  text-align: right;
  position: relative;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item-content::after {
  content: '';
  background-color: #fff;
  transform: rotate(45deg);
  position: absolute;
  width: 15px;
  height: 15px;
  right: -7.5px;
  top: calc(50% - 7.5px);
  box-shadow: 1px -1px 1px rgba(0,0,0,0.2);
}

.timeline-item:nth-child(odd) .timeline-item-content::after{
  right:auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.2);
}

.timeline-item-content .tag{
  color:#fff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
  position: absolute;
  left:5px;
  top:5px;
  letter-spacing: 1px;
}

.fa{
  color:black;
  font-size: 12px;
  margin-right: 50px;
  padding: 5px;
  font-weight: bold;
  text-transform: uppercase;
  position: absolute;
  left:5px;
  top:5px;
  letter-spacing: 1px;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag{
  left:auto;
  right:5px;
}
#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.timeline-item-content .time{
  color: #777;
  font-size: 12px;

}

.timeline-item-content p{
  font-size: 16px;
  line-height: 24px;
  margin:15px 0;
  max-width: 250px;
}
.timeline-item-content a{
  color: #333;
  text-decoration: none;
  font-size: 14px;
}

.timeline-item-content a::after{
  content: '';
  font-size: 12px;

}
.timeline-item-content .circle {
  background-color: #fff;
  border:3px solid #1DA1F2;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  z-index: 100;
}
.shadow {
  box-shadow:5px 5px 5px grey;
  
}

.timeline-item:nth-child(odd) .timeline-item-content .circle{
  right:auto;
  left:-40px;
}
#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}
